.writer-container {
  position: relative;
  height: 100vh;
}

.ticker-input {
  width: 100%;
  font-family: monospace;
  white-space: pre-wrap;
  resize: none;
  //padding-bottom: 0;
  padding: 36vh 1em;
  overflow: hidden;
}

.fade-overlay {
  mask-image: linear-gradient(to top, transparent 0%, #fff 50%, transparent 80%);
  mask-mode: alpha;
}
