<div class="topbar-container">
  <app-branding />
  <div class="topbar-actions">
    <p-button
      (click)="showWelcomeChangelog()"
      class="topbar-changelog-button"
      rounded
      text
      type="button"
    >
      <i
        class="pi pi-question-circle"
      ></i>
    </p-button>
    <p-button
      (click)="toggleDarkMode()"
      class="topbar-theme-button"
      rounded
      text
      type="button"
    >
      <i
        [ngClass]="{
          'pi-moon': isDarkMode(),
          'pi-sun': !isDarkMode(),
        }"
        class="pi"
      ></i>
    </p-button>
    <div class="relative">
      <p-button
        [hideOnOutsideClick]="true"
        enterActiveClass="animate-scalein"
        enterFromClass="hidden"
        icon="pi pi-cog"
        leaveActiveClass="animate-fadeout"
        leaveToClass="hidden"
        pStyleClass="@next"
        rounded
        text
      />
      <app-settings-config
        [langConfig]="langConfig()"
        class="hidden"
      ></app-settings-config>
    </div>
  </div>
</div>
