<p-dialog
  [(visible)]="appStateService.changelogVisible"
  [modal]="true"
  [style]="{
    width: '30vw',
    height: '40vh',
    padding: '2vw',
    paddingTop: '3vh',
  }"
  [closable]="true"
  (onHide)="hideWelcomeChangelog()"
  [dismissableMask]="true"
  [showHeader]="false"
>
  <div class="d-flex justify-content-center">
    <app-branding />
  </div>

  <p-divider layout="horizontal"></p-divider>

  <div class="d-flex flex-column justify-content-center gap-4">
    @for (i of [1,2,3,4]; track i) {
      <div>
        <span [innerHTML]="'welcome-changelog.message' + i | translate"></span>
      </div>
    }
  </div>

  <p-divider layout="horizontal"></p-divider>

  <p-accordion>
    <p-accordion-panel value="null">
      <p-accordion-header class="changelog"> Changelog </p-accordion-header>
      @for (log of changelogEntries; track log.date) {
        <p-accordion-content class="changelog-entry">
          <div class="changelog-entry">
            <h4 class="changelog-date">{{ log.date }}</h4>
            <ul class="changelog-list">
              @for (item of log.entries; track item) {
                <li>
                  <span class="changelog-text">{{ item }}</span>
                </li>
              }
            </ul>
          </div>
        </p-accordion-content>
      }
    </p-accordion-panel>
  </p-accordion>
</p-dialog>
