<p-dialog
  [(visible)]="appStateService.changelogVisible"
  [modal]="true"
  [style]="{
    width: '50vw',
    height: '30vh',
    padding: '2vw',
    paddingTop: '3vh',
  }"
  [closable]="true"
  (onHide)="hideWelcomeChangelog()"
  [dismissableMask]="true"
  [showHeader]="false"
>
  <div class="d-flex justify-content-center">
    <app-branding />
  </div>

  <p-divider layout="horizontal"></p-divider>

  <div class="d-flex flex-column justify-content-center gap-4">
    <div>
      <span>{{ "welcome-changelog.message1.part1" | translate }}</span>
      <span class="text-primary-400">{{
        "welcome-changelog.message1.part2" | translate
      }}</span>
      <span>{{ "welcome-changelog.message1.part3" | translate }}</span>
      <span>{{ "welcome-changelog.message1.part4" | translate }}</span>
      <span class="font-bold">{{
        "welcome-changelog.message1.part5" | translate
      }}</span>
      <span>{{ "welcome-changelog.message1.part6" | translate }}</span>
    </div>
    <div>
      <span>{{ "welcome-changelog.message2.part1" | translate }}</span>
      <span class="font-bold">{{
        "welcome-changelog.message2.part2" | translate
      }}</span>
    </div>
    <div>
      <span>{{ "welcome-changelog.message3.part1" | translate }}</span>
      <i class="text-primary-400 pi pi-cog"></i>
    </div>
  </div>

  <p-divider layout="horizontal"></p-divider>

  <p-accordion>
    <p-accordion-panel value="null">
      <p-accordion-header class="changelog"> Changelog </p-accordion-header>
      @for (log of changelogEntries; track log.date) {
        <p-accordion-content class="changelog-entry">
          <div class="changelog-entry">
            <h4 class="changelog-date">{{ log.date }}</h4>
            <ul class="changelog-list">
              @for (item of log.entries; track item) {
                <li>
                  <span class="changelog-text">{{ item }}</span>
                </li>
              }
            </ul>
          </div>
        </p-accordion-content>
      }
    </p-accordion-panel>
  </p-accordion>
</p-dialog>
