@use "primeicons/primeicons.css";
@import "primeicons/primeicons.css";

@mixin generate-edged-step-utilities($prop-name, $class-prefix, $step, $max) {
  @for $i from 0 through $max {
    .#{$class-prefix}-#{$i} {
      #{$prop-name}: $i * $step;
    }
  }
}

@mixin generate-simple-step-utilities($prop-name, $class-prefix, $step, $max) {
  @for $i from 0 through $max {
    // X-axis (left and right)
    .#{$class-prefix}-x-#{$i} {
      #{$prop-name}-left: $i * $step;
      #{$prop-name}-right: $i * $step;
    }

    // Y-axis (top and bottom)
    .#{$class-prefix}-y-#{$i} {
      #{$prop-name}-top: $i * $step;
      #{$prop-name}-bottom: $i * $step;
    }
  }
}

// generate spacing utilities. Use via "class="m-2 p-x-3 gap-3" etc.
@include generate-simple-step-utilities(gap, gap, 0.25rem, 10);

@include generate-simple-step-utilities(margin, m, 0.25rem, 10);
@include generate-edged-step-utilities(margin, m, 0.25rem, 10);

@include generate-simple-step-utilities(padding, p, 0.25rem, 10);
@include generate-edged-step-utilities(padding, p, 0.25rem, 10);

.flex,
.row,
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  &-reverse {
    flex-direction: row-reverse;
  }
}

.flex-column,
.column,
.col,
.flex-col {
  display: flex;
  flex-direction: column;

  &-reverse {
    flex-direction: column-reverse;
  }
}

.space {
  &-between {
    justify-content: space-between;
  }

  &-around {
    justify-content: space-around;
  }

  &-evenly {
    justify-content: space-evenly;
  }
}

.layout-container {
  background-color: var(--p-surface-50);
  color: var(--p-surface-950);
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.layout-grid {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  gap: 1.5rem;
}

.topbar {
  background-color: var(--p-surface-0);
  padding: 1.5rem;
  border-radius: 1rem;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--p-surface-200);
  width: 100%;
}

.p-dark .topbar {
  background-color: var(--p-surface-900);
  border-color: var(--p-surface-700);
}

.topbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-brand {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.topbar-brand-text {
  display: none;
}

@media (min-width: 640px) {
  .topbar-brand-text {
    display: flex;
    flex-direction: column;
  }
}

.topbar-title {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--p-surface-700);
  line-height: 1;
}

.p-dark .topbar-title {
  color: var(--p-surface-100);
}

.topbar-subtitle {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--p-primary-500);
  line-height: 1.25;
}

.p-dark .topbar-subtitle {
  color: var(--p-primary-400);
}

.topbar-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.topbar-theme-button {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  transition: all 0.2s;
  color: var(--p-surface-900);
}

.p-dark .topbar-theme-button {
  color: var(--p-surface-0);
}

.topbar-theme-button:hover {
  background-color: var(--p-surface-100);
}

.p-dark .topbar-theme-button:hover {
  background-color: var(--p-surface-800);
}
