<div class="config-section">
  <div>
    <span class="config-label">Primary</span>
    <div class="config-colors">
      @for (pc of primaryColors(); track pc.name) {
        <button
          (click)="updateColors($event, 'primary', pc)"
          [ngClass]="[
            'color-button',
            selectedPrimaryColor() === pc.name ? 'selected' : '',
          ]"
          [ngStyle]="{ backgroundColor: pc?.palette?.['500'] }"
          [title]="pc.name"
          type="button"
        ></button>
      }
    </div>
  </div>
  <div>
    <span class="config-label">Surface</span>
    <div class="config-colors">
      @for (s of surfaces; track s.name) {
        <button
          (click)="updateColors($event, 'surface', s)"
          [ngClass]="[
            'color-button',
            (
              selectedSurface()
                ? selectedSurface() === s.name
                : isDarkMode()
                  ? s.name === 'zinc'
                  : s.name === 'slate'
            )
              ? 'selected'
              : '',
          ]"
          [ngStyle]="{ backgroundColor: s?.palette?.['500'] }"
          [title]="s.name"
          type="button"
        ></button>
      }
    </div>
  </div>
  <span class="config-label">{{ "common.fontSize" | translate }}</span>
  <div class="row flex gap-2">
    <p-button
      (click)="writerService.updateFontSize('+')"
      class="font-size-button"
      icon="pi pi-plus"
      severity="secondary"
    ></p-button>
    <p-button
      (click)="writerService.updateFontSize('-')"
      class="font-size-button"
      icon="pi pi-minus"
      severity="secondary"
    ></p-button>
    <p-button
      (click)="writerService.updateFontSize('reset')"
      [label]="'common.reset' | translate"
      class="font-size-button"
      icon="pi pi-refresh"
      severity="secondary"
    ></p-button>
  </div>
  <p-divider layout="horizontal"></p-divider>
  <span class="config-label">{{ "common.resetText" | translate }}</span>
  <div>
    <p-button
      (click)="resetTextDialogVisible.set(true)"
      [label]="'common.resetText' | translate"
      class="reset-colors-button"
      icon="pi pi-trash"
      severity="warn"
    ></p-button>
  </div>
  <div>

  </div>
  <!--  <p-select-->
  <!--    (onChange)="langConfig().translate($event.value)"-->
  <!--    [(ngModel)]="langConfig().selectedLanguage"-->
  <!--    [options]="langConfig().supportedLanguages"-->
  <!--  ></p-select>-->
</div>

<p-dialog
  [(visible)]="resetTextDialogVisible"
  dismissableMask
  [modal]="true"
  [style]="{ width: '25rem' }"
  header="Really clear the text?"
>
  <div class="flex justify-end gap-2">
    <p-button
      (click)="resetTextDialogVisible.set(false)"
      label="Back"
      severity="secondary"
    />
    <p-button
      (click)="resetTextDialogVisible.set(false); writerService.resetText()"
      label="Confirm"
      icon="pi pi-trash"
      severity="warn"
    />
    <span></span>
    <span></span>
    <small>Text will be copied to your clipboard when confirmed.</small>
  </div>
</p-dialog>
