<div class="config-section">
  <div>
    <span class="config-label">Primary</span>
    <div class="config-colors">
      @for (pc of primaryColors(); track pc.name) {
        <button
          (click)="updateColors($event, 'primary', pc)"
          [ngClass]="[
            'color-button',
            selectedPrimaryColor() === pc.name ? 'selected' : '',
          ]"
          [ngStyle]="{ backgroundColor: pc?.palette?.['500'] }"
          [title]="pc.name"
          type="button"
        ></button>
      }
    </div>
  </div>
  <div>
    <span class="config-label">Surface</span>
    <div class="config-colors">
      @for (s of surfaces; track s.name) {
        <button
          (click)="updateColors($event, 'surface', s)"
          [ngClass]="[
              'color-button',
              (
                selectedSurface()
                  ? selectedSurface() === s.name
                  : isDarkMode()
                    ? s.name === 'zinc'
                    : s.name === 'slate'
              )
                ? 'selected'
                : '',
            ]"
          [ngStyle]="{ backgroundColor: s?.palette?.['500'] }"
          [title]="s.name"
          type="button"
        ></button>
      }
    </div>
  </div>
</div>
